@model ProjectionCreateModel

@using NuGet.Protocol
@{
    ViewData["Title"] = "Create";
}

<p>
    <a asp-action="Index">Projection Home</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="get" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="ProjectionId" value="@Model.Param.ProjectionId"/>
            </div>
            <div class="form-group">
                <input type="hiddden" name="ValueDate" value="@Model.Param.ValueDate"/>
            </div>
            <div class="form-group">
                <input type="hidden" name="LastUpdated" value="@Model.Param.LastUpdated"/>
            </div>
            <div class="form-group">
                <input type="hidden" name="RequestParameters" value="@Model.Param.RequestParameters"/>
            </div>
            <div class="form-group">
                <label name="VerifiedBy" class="control-label"></label>
                <input name="VerifiedBy" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Verify" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p>Parameters: @Model.Param.ToJson()</p>

<table class="table">
    <thead>
    <tr>
        <th>
            Maturity
        </th>
        <th>
            Spot
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Rfr )
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Maturity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpotValue)
            </td>
        </tr>
    }
    </tbody>
</table>